@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEG</h1>
    <p class="lead">Shopkeeper Exortation Gateway</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="">
        <h2>Getting started</h2>
        <p>
            welcome ......
        </p>
        <p>SEG (Shopkeeper Exortation Gateway) is a website which will help you in maintainig your data as well as you can also order online 
            </p>

        <p><a class="btn btn-default" href="/shopkeepers/index">Shopkeeper &raquo;</a></p>
        <p><a class="btn btn-default" href="/shops/index">Shop &raquo;</a></p>
        <p><a class="btn btn-default" href="/distributors/index">Distributor &raquo;</a></p>
        <p><a class="btn btn-default" href="/distributions/index">Distribution &raquo;</a></p>
        <p><a class="btn btn-default" href="/regional_managers/index">Regional Manager &raquo;</a></p>


        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
    
</div>