@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEG</h1>
    <p class="lead">SEG (Shopkeeper Exortation Gateway) is a powerfull website for maintaining your repository but also you can give order and meet new distributor</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">    

        <p><a class="btn btn-default" href="/shopkeepers/index">Shopkeeper &raquo;</a></p>
        <p><a class="btn btn-default" href="/shops/index">Shop &raquo;</a></p>
        <p><a class="btn btn-default" href="/distributors/index">Distributor &raquo;</a></p>
        <p><a class="btn btn-default" href="/distributions/index">Distribution &raquo;</a></p>
        <p><a class="btn btn-default" href="/regional_manager/index">Regional Manager &raquo;</a></p>


        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
    
</div>